{% extends 'base.html' %}
{% block content %}
<h1>{% if id %}Modifier{% else %}Nouvelle{% endif %} commande</h1>
<div class="form-card">
    <form method="post">
        {% csrf_token %}
        {% for field in formulaire %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn-submit" formaction="{% if id %}/commandes/sauvegarder/{{ id }}/{% else %}/commandes/traitement/{% endif %}">Enregistrer</button>
            <a href="/commandes/" class="btn-cancel">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}