{% extends 'base.html' %}

{% block content %}
<h1>Liste des clients</h1>
<a href="/clients/ajouter/" class="btn btn-add">+ Ajouter un client</a>
<br><br>
<table>
    <tr>
        <th>Numéro</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date inscription</th>
        <th>Adresse</th>
        <th>Actions</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{ client.numero_client }}</td>
        <td>{{ client.nom }}</td>
        <td>{{ client.prenom }}</td>
        <td>{{ client.date_inscription }}</td>
        <td>{{ client.adresse }}</td>
        <td>
            <a href="/clients/modifier/{{ client.pk }}/" class="btn btn-edit">Modifier</a>
            <a href="/clients/supprimer/{{ client.pk }}/" class="btn btn-delete">Supprimer</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">Aucun client.</td></tr>
    {% endfor %}
</table>
{% endblock %}